.tableSales {
    border: 1px solid grey;
    margin-top: 20px;
    border-spacing: 0px;
    border-collapse: collapse;
    
}

.tableSales th, td {
    border: 1px solid grey;
    padding: 20px;
}

.graph {
    width: 1000px;
    height: 600px;
    overflow: hidden;
}